<link rel="stylesheet" href="../css/footer.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <h2>Focus.Frame</h2>
      <ul class="contacts-list">
        <li><a href="tel:+380665438912">+38 066 543 8912</a></li>
        <address class="text">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </ul>
    </div>

    <div class="footer-links-wrapper">
      <div class="footer-socials">
        <ul class="socials-list">
          <li>
            <a
              href="https://www.instagram.com/goit.turkiye/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook</a
            >
          </li>
          <li>
            <a
              href="https://m.youtube.com/@GoITTurkey"
              target="_blank"
              rel="noopener noreferrer"
              >YouTube</a
            >
          </li>
        </ul>
      </div>

      <nav class="footer-nav">
        <ul class="nav-list">
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#our-courses">Our Courses</a></li>
          <li><a href="#our-mentors">Our Mentors</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>

    <div class="subscribe">
      <form class="footer-form" autocomplete="off">
        <label for="footer-email" class="visually-hidden"
          >Enter your email</label
        >
        <input
          type="email"
          id="footer-email"
          class="input"
          placeholder="Enter your email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
        <button type="submit" class="submit-btn">Go</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <ul>
      <li>
        <a href="#privacy-policy" class="text"
          >Privacy Policy<br />
          Public Offering Agreement</a
        >
      </li>
      <li class="text">2024 Focus Frame <br />&copy; All rights reserved</li>
    </ul>
  </div>
</footer>
