<header class="header">
  <div class="container header-container">
    <div class="header-wrapper">
      <a class="header-logo" href="./index.html" aria-label="FocusFrame home">
        <img
          src="/images/logo.svg"
          alt="FocusFrame logo"
          width="123"
          height="16"
        />
      </a>

      <nav class="header-nav">
        <ul class="header-nav-list">
          <li>
            <a class="header-nav-link" href="#about">About us</a>
          </li>
          <li>
            <a class="header-nav-link" href="#courses">Our courses</a>
          </li>
          <li>
            <a class="header-nav-link" href="#mentors">Our mentors</a>
          </li>
          <li>
            <a class="header-nav-link" href="#reviews">Reviews</a>
          </li>
          <li>
            <a class="header-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>

      <button
        class="header-menu-btn"
        type="button"
        aria-label="Open mobile menu"
      >
        <span class="header-menu-line"></span>
        <span class="header-menu-line"></span>
      </button>
    </div>

    <a class="header-signup" href="#signup">Sign up</a>
  </div>
</header>