:root {
  --black: #121212;
  --black-soft: #1d1d1d;
  --black-gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --brown: #bea69e;
  --accent-color: #bea69e;
  --white: #ffffff;

  --background-color: #121212;
  --primary-text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.2);
  --text-muted: rgba(255, 255, 255, 0.5);
  --grid-color: rgba(255, 255, 255, 0.05);

  --main-font: 'DM Sans', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
