* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  background-color: #121212;
  background-image: url('../img/Graphic.png');
  padding: 40px 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 16px;
}

.contacts-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.socials-list,
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.input {
  flex-grow: 1;
  min-width: 0;
  max-width: 216px;
  height: 60px;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 0 15px;
  border-radius: 12px;
  font-size: 14px;
}

.input::placeholder {
  font-size: 16px;
}

.submit-btn {
  flex-shrink: 0;
  height: 60px;
  padding: 0 25px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.footer-bottom ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 0;
}

@media screen and (min-width: 375px) {
  .footer .container {
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }

  .footer .container {
    max-width: 720px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  .footer-links-wrapper {
    flex-direction: row;
    gap: 30px;
  }
  .nav-list li a {
    white-space: nowrap;
  }
  .footer-bottom {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .footer-bottom ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 80px 0;
  }

  .footer .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  .footer-links-wrapper {
    gap: 100px;
  }

  .subscribe {
    min-width: 360px;
  }

  .footer-bottom {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer-bottom ul {
    padding: 30px 60px 0 60px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .footer .container,
  .footer-bottom {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .footer-bottom ul {
    padding: 30px 0 0 0;
  }
}
