.our-courses {
  background-color: #121212;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* HEADER */

.our-courses-header {
  margin-bottom: 40px;
}

.our-courses-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;

  color: #fff;
}

.our-courses-span {
  color: #bea69e;
}

.our-courses-header-text {
  max-width: 335px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #fff;
}

/* LIST */

.our-courses-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  list-style: none;
  margin: 0;
  padding: 0;
}

/* CARD */

.our-courses-item {
  width: 335px;
  height: 398px;

  display: flex;
  flex-direction: column;

  padding: 28px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;

  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

/* TOP */

.our-courses-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 28px;
}

.our-courses-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.4);
}

/* LINK */

.our-courses-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  color: #777777;
  background-color: #1d1d1d;

  transition: background-color 250ms ease;
}

/* ICON */

.our-courses-icon {
  width: 32px;
  height: 32px;

  stroke: #777;

  transition: stroke 250ms ease;
}

.our-courses-link:hover,
.our-courses-link:focus {
  background-color: #bea69e;
  color: #fff;
}

.our-courses-link:hover .our-courses-icon,
.our-courses-link:focus .our-courses-icon {
  stroke: #121212;
}

/* TITLE */

.our-courses-item-title {
  width: 279px;

  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;

  color: #fff;
}

/* TEXT */

.our-courses-item-text {
  width: 279px;

  margin-top: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.5);
}

/* TABLET */

@media screen and (min-width: 768px) {
  .our-courses {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .our-courses-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 50px;
  }

  .our-courses-title {
    margin-bottom: 0;
    font-size: 48px;
  }

  .our-courses-header-text {
    max-width: 381px;
    font-size: 16px;
  }

  .our-courses-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .our-courses-item {
    width: 342px;
    height: 452px;

    padding: 32px;
  }

  .our-courses-item-top {
    margin-bottom: 32px;
  }

  .our-courses-item-title {
    width: 278px;
  }

  .our-courses-item-text {
    width: 278px;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1280px) {
  .our-courses {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .our-courses-header {
    margin-bottom: 50px;
  }

  .our-courses-title {
    margin-bottom: 0;

    font-size: 48px;
    line-height: 54px;
  }

  .our-courses-header-text {
    max-width: 565px;
  }

  .our-courses-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .our-courses-item {
    width: 347px;
    height: 452px;

    padding: 32px;
  }

  .our-courses-item-top {
    margin-bottom: 32px;
  }

  .our-courses-item-title {
    width: 283px;
  }

  .our-courses-item-text {
    width: 283px;
    font-size: 16px;
  }
}