.our-mentors {
  padding: 80px 0 0;
  background-color: var(--background-color);
}

.our-mentors-title {
  margin-bottom: 40px;
  font-family: var(--main-font);
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: var(--primary-text-color);
}

.our-mentors-title span {
  color: var(--accent-color);
}

.our-mentors-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-mentors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  text-align: center;
}

.our-mentors-image {
  display: block;
  width: 180px;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--black);
}

.our-mentors-name {
  margin: 0 0 4px;
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.our-mentors-text {
  margin: 0;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--text-muted);
}

@media only screen and (min-width: 768px) {
  .our-mentors {
    padding-top: 100px;
  }

  .our-mentors-title {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 32px;
  }

  .our-mentors-list {
    display: grid;
    grid-template-columns: repeat(2, 194px);
    gap: 40px 100px;
    justify-content: center;
  }

  .our-mentors-item {
    width: 194px;
  }

  .our-mentors-name {
    font-size: 20px;
    line-height: 24px;
  }

  .our-mentors-text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-mentors {
    padding-top: 150px;
  }

  .our-mentors-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 54px;
  }

  .our-mentors-list {
    grid-template-columns: repeat(4, 194px);
    gap: 0 100px;
    justify-content: center;
  }

  .our-mentors-item {
    width: 194px;
    min-height: 250px;
  }

  .our-mentors-name {
    font-size: 28px;
    line-height: 32px;
  }

  .our-mentors-text {
    font-size: 14px;
    line-height: 18px;
  }
}
